.x-fullscreen {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgb(0,0,0)),
        color-stop(0.88, rgb(51,51,51))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 21%,
        rgb(85,85,85) 75%
    );
    
}

.price {
    color: #c59a6f;
    font-size: 7em;
}